{% extends 'base.html' %}{% load bootstrap_tags %} {% block title %}{{ product.name }}{% endblock %}{% block content %}
<section>
    <a class="btn btn-outline-danger btn-back" onclick="history.go(-1)">Back</a>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <img src="{{ product.image.url }}" class="rounded product-image"></img>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>{{ product.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead">
                    {{ product.description }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <p class="lead">
                    <i class="fas fa-pound-sign"> {{ product.price }}</i></p>
                    <form method="post" action="{% url 'add' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                        </div>
                    </form>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}
