/**Navbar**/

html {
	overflow-x: hidden;
}

body>header>nav {
    background-color: #002366 !important;
}

.nav-item {
    font-family: 'Pacifico', cursive;
    font-size: 1.25em;
}

.logo {
    height: 70px;
    width: 70px;
}

.navbar a {
	color: #d4af37;
}

/**Navbar**/

/**Home**/

.section-lead {
    background: url("/static/img/bake-baked-baking-913137.jpg") no-repeat center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.section-lead h1 {
    font-size: 5.5rem;
    color: #f05e23;
    padding-top: 250px;
    font-family: 'Parisienne', cursive;
}


h2,
h3,
h4,
.title {
    font-family: 'Abril Fatface', cursive;
}

p,
.lead,
.medium {
    font-family: 'Comfortaa', cursive;
}

hr {
	border-bottom: 1px solid #d4af37;
}
/**Home**/

/**Graphs**/

.chart {
		padding-top: 20px;
	}

/**Graphs**/

/**Accounts**/

.profile-image {
    display: block;
    height: 15rem;
    margin: 0 auto;
}

/**Accounts**/

/**Reviews**/

.img-circle,
.img-blogpost {
    display: block;
    height: 10rem;
    margin: 0 auto;
}

.review-container {
	margin-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	color: #d4af37;
	background-color: rgba(0, 35, 102, 0.7)
}

.review-btn {
	margin-left: 20px;
}

.review-row {
	margin-top: 10px;
}

label {
	font-weight: bold;
	font-family: 'Comfortaa', cursive;
}
/**Reviews**/

/**Suggestions**/

.card-header {
	border-left: 1px solid #002366;
    border-right: 1px solid #002366;
    border-top: 1px solid #002366;
    border-radius: 15px 15px 0 0!important;
}

.suggestion-btn {
	margin-left: 50px;
}

.suggestion-card {
	margin-top: 20px;
	margin-bottom: 20px;
}

.suggestion-container {
	color: #d4af37;
	background-color: rgba(0, 35, 102, 0.7)
}

.suggestion-title {
	font-family: 'Abril Fatface', cursive;
}

/**Suggestions**/

/**Products**/

.search {
	padding-top: 10px;
}
.product-image {
    display: block;
    height: 15rem;
    margin: 0;
}

.product-padding {
	padding: 10px 0 10px 50px;
}

.card-img-top {
    border-radius: 15px 15px 0 0;
    height: 250px;
    
}

.card {
    width: 250px;
    border-radius: 15px;
}

.card-body {
    border-left: 1px solid #002366;
    border-right: 1px solid #002366;
    border-bottom: 1px solid #002366;
    border-top: 1px solid #002366;
    border-radius: 0 0 15px 15px;
}

.product-border {
	border: 1px solid #002366;
}

.btn-back {
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn-add {
	margin-left: 5px;
}

/**Products**/

/**Cart**/

table {
	margin-top: 50px;
}

/**Cart**/

/**Footer**/

footer {
	padding: 30px 0px 100px;
	color: #d4af37;
}

.footer {
	background-color: #002366;
}

.footer-card {
	border-color: transparent;
}

footer .card {
	border-color: transparent;
}


/*The code for the footer links was adapted from 
Miroslav Svec */

.footer-links a, 
.footer-links a:hover,
.footer-links a:active,
.footer-links a:focus {
	color: #fff;
	margin-right: 1.5rem;
}

.footer-links a i {	
	width: 50px;
	height: 50px;
	padding: 5px 0;
	font-size: 30px;
	line-height: 40px;
	border-radius: 25% 5%;	
}

.twitter {
	border-radius: 25% 5%;
	-webkit-animation: twitter 1s alternate infinite;
	-moz-animation: twitter 1s alternate infinite;
	-o-animation: twitter 1s alternate infinite;
	animation: twitter 1s alternate infinite;
}
.footer a .fa-twitter:hover {
	background-color: #d4af37;
}
@-webkit-keyframes twitter {
	from {
		background: transparent;
	}
	to {
		background: #d4af37;
	}

}
@-moz-keyframes twitter {
	from {
		background: transparent;
	}
	to {
		background: #d4af37;
	}

}
@-o-keyframes twitter {
	from {
		background: transparent;
	}
	to {
		background: #d4af37;
	}

}
@keyframes twitter {
	from {
		background: transparent;
	}
	to {
		background: #d4af37;
	}

}
.facebook {
	-webkit-animation: facebook 1s 0.25s alternate infinite;
	-moz-animation: facebook 1s 0.25s alternate infinite;
	-o-animation: facebook 1s 0.25s alternate infinite;
	animation: facebook 1s 0.25s alternate infinite;
}
.footer a .fa-facebook-f:hover {
	background-color: #fa7921;
}
@-webkit-keyframes facebook {
	from {
		background: transparent;
	}
	to {
		background: #fa7921;
	}

}
@-moz-keyframes facebook {
	from {
		background: transparent;
	}
	to {
		background: #fa7921;
	}

}
@-o-keyframes facebook {
	from {
		background: transparent;
	}
	to {
		background: #fa7921;
	}

}
@keyframes facebook {
	from {
		background: transparent;
	}
	to {
		background: #fa7921;
	}

}
.linkedin {
	-webkit-animation: linkedin 1s 0.5s  alternate infinite;
	-moz-animation: linkedin 1s 0.5s alternate infinite;
	-o-animation: linkedin 1s 0.5s alternate infinite;
	animation: linkedin 1s 0.5s alternate infinite;
}
.footer a .fa-linkedin-in:hover {
	background-color: #06d6a0;
}
@-webkit-keyframes linkedin {
	from {
		background: transparent;
	}
	to {
		background: #06d6a0;
	}

}
@-moz-keyframes linkedin {
	from {
		background: transparent;
	}
	to {
		background: #06d6a0;
	}

}
@-o-keyframes linkedin {
	from {
		background: transparent;
	}
	to {
		background: #06d6a0;
	}

}
@keyframes linkedin {
	from {
		background: transparent;
	}
	to {
		background: #06d6a0;
	}

}
.instagram {
	-webkit-animation: instagram 1s 0.75s alternate infinite;
	-moz-animation: instagram 1s 0.75s alternate infinite;
	-o-animation: instagram 1s 0.75s alternate infinite;
	animation: instagram 1s 0.75s alternate infinite;
}
.footer a .fa-instagram:hover {
	background-color: #f2545b;
}
@-webkit-keyframes instagram {
	from {
		background: transparent;
	}
	to {
		background: #f2545b;
	}

}
@-moz-keyframes instagram {
	from {
		background: transparent;
	}
	to {
		background: #f2545b;
	}

}
@-o-keyframes instagram {
	from {
		background: transparent;
	}
	to {
		background: #f2545b;
	}

}
@keyframes instagram {
	from {
		background: transparent;
	}
	to {
		background: #f2545b;
	}

}

/**Media Queries**/

@media (min-width:300px) and (max-width: 767px) {
	.section-lead h1 {
		font-size: 3.5em;
	}
}

@media (max-width: 767px) {
	.product-image {
		width: 90%;
	}
}