/**Navbar**/

body>header>nav {
    background-color: #002366 !important;
}

.navbar,
.nav {
    font-family: 'Parisienne', cursive;
    font-size: 1.25em;
}

.logo {
    height: 70px;
    width: 70px;
}

/**Navbar**/

/**Home**/

.section-lead {
    background: url("/static/img/array-assorted-assortment-1236680.jpg") no-repeat center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.section-lead h1 {
    font-size: 4.5rem;
    color: #000;
    padding-top: 250px;
    font-family: 'Parisienne', cursive;
}

h2,
h3 {
    font-family: 'Abril Fatface', cursive;
}

p,
.lead{
    font-family: 'Comfortaa', cursive;
}
/**Home**/

/**Accounts**/

.profile-image {
    display: block;
    height: 15rem;
    margin: 0 auto;
}

/**Accounts**/

/**Reviews**/

.img-circle,
.img-blogpost {
    display: block;
    height: 10rem;
    margin: 0 auto;
}

/**Reviews**/

/**Suggestions**/

/**Suggestions**/

/**Products**/

.product-image {
    display: block;
    height: 15rem;
    margin: 0 auto;
}
