{% extends 'base.html' %}{% load static from staticfiles%}{% block heading %}
<div class="container">
	<div class="row">
		<div class="mx-auto">
			<h1 class="text-center suggestion-title">
				Suggestions
			</h1>
			{% if not user.is_authenticated %}
			<span class="text-center">You must be logged in to make a suggestion!</span> {% else %}
			<a href="{% url 'make_suggestion' %}"><button type="button" class="btn btn-primary suggestion-btn p5">Make a Suggestion</button></a> {% endif %}
		</div>
	</div>
</div>
{% endblock %} {% block content %} {% for suggestion in suggestions %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card suggestion-card w-50 mx-auto">
				{% if suggestion.status == 'To do'%}
				<div class="card-header"><span class="badge badge-danger">{{ suggestion.status }}</span> {% elif suggestion.status == 'In progress' %}
					<div class="card-header"><span class="badge badge-warning">{{ suggestion.status }}</span> {% else %}
						<div class="card-header"><span class="badge badge-success">{{ suggestion.status }}</span> {% endif %}
							<span class="card-link"><i class="fa fa-eye p5"></i>{{ suggestion.views }}
    <i class="fa fa-arrow-up p5"></i>{{ suggestion.suggestion_upvotes }}</span></div>
						<div class="card-body">
							<h4 class="card-title">{{ suggestion.title|capfirst }}</h4>
							<p class="card-text">{{ suggestion.content|capfirst|truncatechars:50 }}</p>
							<div class="card-footer text-muted">
								{{ suggestion.suggested_by|capfirst }} | {{ suggestion.created_date }}
								<a href="{% url 'single_suggestion' suggestion.id %}" class="card-link">View suggestion</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<!-- Pagination -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% if suggestions.has_other_pages %}
				<ul class="pagination row justify-content-center">
					{% if suggestions.has_previous %}
					<li class="page-item px-1">
						<a href="?{{ base }}page={{ suggestions.previous_page_number }}" class="page-link">&laquo;</a>
					</li>
					{% else %}
					<li class="page-item disabled px-1">
						<a class="page-link">&laquo;</a>
					</li>
					{% endif %} {% for x in suggestions.paginator.page_range %} {% if suggestions.number == x %}
					<li class="page-item active px-1">
						<a class="page-link">{{ x }}</a>
					</li>
					{% else %}
					<li class="page-item px-1">
						<a href="?{{ base }}page={{ x }}" class="page-link">{{ x }}</a>
					</li>
					{% endif %} {% endfor %} {% if suggestions.has_next %}
					<li class="page-item px-1">
						<a href="?{{ base }}page={{ suggestions.next_page_number }}" class="page-link">&raquo;</a>
					</li>
					{% else %}
					<li class="page-item disabled px-1">
						<a class="page-link">&raquo;</a>
					</li>
					{% endif %}
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
